/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 766px;
  }
  .header {
    width: 768px;
    height: 172px;
  }
  .desk {
    display: none;
  }
  main {
    .section_1 {
      .navigation {
        padding: 14px 12px 12px 16px;
        .nav-cont {
          .search-bar {
            padding: 15px 17.67px 11px 16px;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            display: flex;
            justify-content: space-between;
            gap: 181px;
            color: #777777;
            .mobile-search-pholder {
              display: block;
            }
          }
          .dropdowns {
            display: none;
          }
        }

        .nav-mobile {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }
      .news-bar {
        justify-content: space-between;
        .shadow {
          display: none;
        }
        .theme-btn {
          display: none;
        }
      }
      .main-news {
        margin-top: 24px;
        flex-direction: column;
        .main-news-block_2 {
          width: 100%;
        }
        .main-news-mobile-1 {
          margin-top: 16px;
          border-radius: 10px;

          background: rgba(0, 0, 0, 1);
          display: flex;
          gap: 16px;
          justify-content: flex-start;
          padding: 24px 23px 24px 24px;
          .mobile-1-item-1 {
            .mobile-1-item-1-text {
              margin-top: 12px;
              font-size: 20px;
              font-weight: 700;
              line-height: 20px;
            }
            .white-box {
              border-radius: 10px;
              width: 336px;
              background: rgba(227, 227, 227, 1);
              height: 228px;
            }
          }
          .mobile-1-item-2 {
            display: flex;
            flex-direction: column;
            gap: 32px;
            .steppe-tag-block {
              display: flex;
              align-items: center;
              gap: 8px;
              .steppe-tag-cont {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                .steppe-tag-cont-title {
                  display: inline-block;
                  padding: 4px 8px;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 17px;
                  letter-spacing: -0.019em;
                  text-transform: uppercase;
                  background: #93ff82;
                  color: #000000;
                  border: 1px solid #000000;
                  border-radius: 6px;
                }
                .steppe-tag-cont-text {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                }
              }
            }
          }
        }
        .main-news-mobile-2 {
          margin-top: 16px;
          display: block;
          background: rgba(0, 0, 0, 1);
          border-radius: 10px;
          padding: 24px 0px 24px 24px;
          position: relative;
          width: 100%;
          overflow: hidden;

          .main-news-mobile-2-title {
            font-size: 18px;
            font-weight: 800;
            line-height: 20px;
            margin-bottom: 16px;
          }
          .news-blocks {
            padding-bottom: 16px;
            overflow-x: scroll;
            &::-webkit-scrollbar {
              height: 4px;
              width: 290px;
            }

            &::-webkit-scrollbar-thumb {
              border-radius: 40px;
              background: rgba(156, 156, 255, 1);
            }
            width: 100%;
            .row-1 {
              padding-bottom: 12px;
              border-bottom: 1px solid #777777;
              width: 150%;
              margin-bottom: 12px;
            }
            .news-blocks-1-row {
              width: 100%;
              display: flex;
              gap: 40px;
              .news-block {
                min-width: 23.5%;
                font-family: Inter;
                font-size: 18px;
                font-weight: 500;
                line-height: 22px;
                text-transform: lowercase;

                span {
                  color: #808080;
                }
              }
            }
          }
          .scroll {
            margin-top: 12px;
            visibility: hidden;
          }
        }
      }
    }
    .red-blocks {
      display: none;
      margin-bottom: 24px;
    }

    .red-blocks-mobile {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0;
      }
      margin-right: -16px;
      display: flex;
      gap: 8px;
      .red-block {
        padding: 12px;
        background: #000000;
        border-radius: 10px;
        .red-box {
          width: 335px;
          border-radius: 6px;
          height: 240px;
          background: #ea2e34;
        }
        .red-block-mini-text {
          margin-top: 12px;
          display: flex;
          align-items: center;
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          margin-bottom: 12px;

          img {
            margin-left: 11.4px;
            margin-right: 4.38px;
          }
        }
        .red-block-text {
          font-size: 20px;
          font-weight: 700;
          line-height: 20px;
        }
      }
    }
    .light-purple-blocks-main-img {
      display: none;
    }
    .pink-blocks-mobile {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .pink-blocks-row {
        display: flex;
        gap: 18px;
        .pink-block {
          .pink-box {
            background: rgba(255, 199, 243, 1);
            height: 281px;
            width: 359px;
            border-radius: 10px;
          }
          .pink-text {
            background: rgba(0, 0, 0, 1);
            width: 359px;
            border-radius: 10px;
            padding: 12px;
            .pink-block-mini-text {
              display: flex;
              align-items: center;
              font-size: 12px;
              font-weight: 400;
              line-height: 17px;
              margin-bottom: 12px;
              img {
                margin: 0 4px 0 10px;
              }
            }
            .pink-nasa {
              font-size: 20px;
              font-weight: 700;
              line-height: 20px;
            }
          }
        }
      }
    }
    .orange-blocks-green-img {
      display: none;
    }
    .orange-blocks-mobile {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .orange-blocks-row {
        display: flex;
        justify-content: space-between;
        .orange-block {
          width: 48.8%;
          .orange-box {
            background: rgba(255, 203, 69, 1);
            width: 100%;
            height: 280px;
            border-radius: 10px;
          }
          .orange-text {
            border-radius: 10px;
            width: 100%;
            background: rgba(48, 44, 44, 1);
            padding: 12px 0px 9px 12px;
            .orange-text-title {
              font-size: 36px;
              font-weight: 800;
              line-height: 40px;
              margin-bottom: 8px;
            }
            .orange-text-paragraph {
              font-size: 18px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 12px;
            }
            .orange-block-mini-text {
              display: flex;
              align-items: center;
              img {
                margin-left: 11.4px;
                margin-right: 4.4px;
              }
            }
          }
        }
      }
    }
    .test-blocks {
      margin-top: 24px;
      margin-bottom: 24px;
      gap: 8px;
      .test-block {
        height: 140px;
        .green-box {
          width: 19.0217%;
        }
        .red-cont {
          width: 8.15217%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .test-text {
          width: 72.826%;
          padding: 24px 32px 0px 24px;
          font-size: 24px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  }
  .footer {
    .more-results {
      display: none;
    }
    .mailing-list {
      padding: 32px 24px;
      .ml-logo {
        width: 28.6685%;
        height: 49px;
      }
      .mailing-list-text {
        font-size: 48px;
        font-weight: 600;
        line-height: 53px;
        text-align: center;
      }
    }
    .mail-subscribe {
      margin-top: 16px;
      flex-direction: column;

      #ms-input {
        height: 98px;
        border-radius: 10px;
        width: 100%;
        text-align: center;

        &::placeholder {
          font-size: 51px;
          font-weight: 500;
          line-height: 62px;
          letter-spacing: -0.019em;
          text-transform: initial;
        }
      }
    }
    .extra {
      display: none;
    }
    .progress-mobile {
      border-radius: 20.5px;
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: rgba(255, 255, 255, 1);
      padding: 24px;
      width: 100%;
      height: 736px;
      img {
        width: 73.55%;
        height: 112px;
      }
      .progress-mobile-text {
        color: rgba(0, 0, 0, 1);
        font-size: 48px;
        font-weight: 800;
        line-height: 53px;
      }
    }
    .extra-bold-mobile {
      border-radius: 10px;
      margin-top: 16px;
      display: block;
      width: 100%;
      padding: 24px;
      background: rgba(0, 0, 0, 1);
      .extra-bold-text {
        font-size: 48px;
        font-weight: 600;
        line-height: 53px;
        color: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 24px;
      }
      button {
        width: 100%;
        padding: 29px 0;
        font-size: 36px;
        font-weight: 800;
        line-height: 40px;
        border-radius: 10px;
        background: #ff4308;
        color: white;
      }
    }
    .ideas-mobile {
      margin-top: 16px;
      display: block;
      width: 100%;
      padding: 24px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 1);
      .ideas-mobile-text {
        font-size: 42px;
        font-weight: 600;
        line-height: 46px;
        color: white;
        margin-bottom: 45px;
      }
      button {
        border-radius: 10px;
        font-size: 48px;
        font-weight: 600;
        line-height: 53px;
        width: 100%;
        padding: 30.5px 80px;
      }
    }
    .info {
      .ideas {
        display: none;
      }
      .agreement {
        width: 22.3%;
        height: 637px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px 62px;
        span {
          font-size: 36px;
          font-weight: 800;
          line-height: 40px;
        }
        br {
          display: none;
        }
      }
      .sm {
        width: 75.4%;
        img {
          width: 102px;
          height: 102px;
        }
        .inst {
          width: 92px;
          height: 92px;
          top: 49px;
          left: 92px;
        }
        .fb {
          top: 285px;
          left: 100px;
        }
        .telega {
          top: 120px;
          right: 70px;
        }
        .vk {
          right: 110px;
          bottom: 153px;
        }
        .yt {
          left: 188px;
          bottom: 59.5px;
        }
      }
    }
    .footer-logo {
      margin-top: 16px;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 375px;
    padding: 0 8px;
    margin: 0 auto;
  }
  .header {
    width: 375px;
    height: 84px;
    padding: 1px 0;
    .header-cont {
      font-weight: 500;

      .name {
        font-size: 48px;
        line-height: 58px;
      }
      .size {
        font-size: 24px;
        line-height: 29px;
      }
    }
  }
  main {
    .section_1 {
      padding: 8px 0;
      .navigation {
        padding: 8px 0;
        .section_1_logo {
          margin: 0 auto;
        }
        .nav-cont {
          display: none;
        }
        .nav-mobile {
          display: none;
        }
      }
      .news-bar {
        display: none;
      }
      .main-news {
        margin-top: 8px;
        .main-news-block_2 {
          padding: 12px;
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .main-news-mobile-1 {
          margin-top: 8px;
          flex-direction: column;
          width: 100%;
          padding: 12px;
          .mobile-1-item-1 {
            .white-box {
              height: 182px;
            }
          }
          .mobile-1-item-2 {
            gap: 8px;
          }
        }
        .main-news-mobile-2 {
          margin-top: 8px;
          padding: 12px;
          .news-blocks {
            width: 100%;

            .news-blocks-1-row {
              gap: 16px;
              .news-block {
                max-width: 191px;
                min-width: 191px;
              }
            }
          }
        }
      }
    }
    .red-blocks-mobile {
      flex-direction: column;
      margin-right: 0px;
    }
    .pink-blocks-mobile {
      gap: 8px;
      .pink-blocks-row {
        flex-direction: column;
        gap: 8px;
      }
    }
    .orange-blocks-mobile {
      margin-top: 8px;
      gap: 8px;
      .orange-blocks-row {
        flex-direction: column;
        gap: 8px;
        .orange-block {
          width: 100%;
        }
      }
    }
    .test-blocks {
      margin-bottom: 8px;
      gap: 8px;
      .test-block {
        height: 86px;

        .green-box {
          height: 86px;
          width: 23.95%;
        }
        .red-cont {
          width: 6.685%;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          text-transform: capitalize;
        }
        .test-text {
          background-color: #000000;
          color: white;
          padding: 12px;
          width: 69.35%;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          .test-back {
            display: none;
          }
        }
      }
    }
  }
  .footer {
    margin-top: 8px;
    .more-results {
      margin-top: 8px;
      display: block;
      width: 100%;
      padding: 19.5px 0;
      font-size: 25px;
      font-weight: 600;
      line-height: 25px;
      text-align: center;
      background-color: black;
      color: white;
    }
    .mailing-list {
      padding: 16px 12px 12px 12px;
      gap: 12.7px;
      .ml-logo {
        width: 103px;
        height: 24.3px;
        object-fit: contain;
      }
      .mailing-list-text {
        font-size: 25px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
      }
    }

    .mail-subscribe {
      padding: 12px;
      gap: 16px;
      #ms-input {
        border-radius: 10px;
        height: 48px;
        padding: 24px 0;
        font-size: 25px;

        &::placeholder {
          font-size: 25px;
          line-height: 30;
          font-weight: 500;
          text-transform: initial;
        }
      }
      button {
        width: 100%;
        height: 56px;
        padding: 15.5px 0;
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        text-align: center;
      }
    }
    .progress-mobile {
      padding: 12px;
      height: 359px;
      img {
        width: 74.622%;
        height: 55px;
      }
      .progress-mobile-text {
        font-family: Inter;
        font-size: 25px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .extra-bold-mobile {
      margin-top: 8px;
      padding: 12px;
      .extra-bold-text {
        font-size: 25px;
        font-weight: 800;
        line-height: 28px;
        gap: 16px;
      }
      button {
        height: 56px;
        padding: 15.5px 0;
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
        background: rgba(234, 46, 52, 1);
        text-transform: uppercase;
      }
    }
    .ideas-mobile {
      margin-top: 8px;
      padding: 12px;
      .ideas-mobile-text {
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
      }
      button {
        padding: 15.5px 0;
        font-size: 25px;
        font-weight: 600;
        line-height: 25px;
      }
    }
    .info {
      gap: 8px;
      margin-top: 8px;
      .agreement {
        padding: 11px 30px;
        width: 80px;
        height: 311px;
        span {
          font-size: 18px;
          font-weight: 800;
          line-height: 20px;
        }
      }
      .sm {
        width: 271px;
        img {
          width: 50px;
          height: 50px;
        }
        .inst {
          height: 45px;
          width: 45px;
          top: 24px;
          left: 45px;
        }
        .fb {
          top: 139px;
          left: 49px;
        }
        .telega {
          top: 59px;
          right: 34px;
        }
        .vk {
          right: 54px;
          bottom: 75px;
        }
        .yt {
          left: 91.74px;
          bottom: 29px;
        }
      }
    }
    .footer-logo {
    }
  }
  .fixed-nav {
    display: block;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 62px;
    background: rgba(0, 0, 0, 1);
    padding: 10px 15.88px 8px 26.88px;
    display: flex;
    justify-content: space-between;
    .nav-mob {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 6px;
    }
  }
}
